body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 40px 20px;
}

.container-space {
    padding: 80px 20px;
}

.inline-list {
    list-style-type: none;

    li {
        margin-bottom: 20px;
    }
}