nav.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav.main-nav ul li {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }

    a {
        font-size: 78%;
        text-transform: uppercase;
        font-weight: 600;
        vertical-align: baseline;

        &:not(.button) {
            color: $brand-brown;
        }
    }

    .button.large {
        font-size: 78%;
        padding: 17px 30px;
    }
}
