.feature {
    margin-top: 20px;
    
    h1 {
        font-size: 5em;
        color: #FFF;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 70px;
        margin-bottom: 40px;
    }
}

.features {
    text-align: center;

    h5 {
        font-weight: 600;
        font-size: 1.4em;
    }

    p {
        font-size: 80%;
        margin-bottom: 40px;
    }

    img {
        margin-bottom: 20px;
    }
}